<nav class="w-full fixed flex justify-around sm:relative sm:justify-between bg-goldenBrown text-white p-8 border-b-2 border-white">

  <fa-icon [icon]="faBars" size="2x" class="sm:hidden cursor-pointer"></fa-icon>

  <div class="relative flex items-center justify-center sm:absolute">
    <img src="../../assets/logo.png" alt="logo" class="w-[40px] h-[40px]">    
    <h1 class="text-3xl font-bold cursor-pointer">KIA</h1>
  </div>

  <div class="hidden sm:flex gap-4 mx-auto text-lg">
    <p class="cursor-pointer">Home</p>
    <p class="cursor-pointer">Products</p>
    <p class="cursor-pointer">About EKIA</p>
    <p class="cursor-pointer">Contact us</p>
  </div>

  <fa-icon [icon]="faCartShopping" size="2x" class="cursor-pointer"></fa-icon>

</nav>
