<section class="fixed top-0 left-0 w-screen h-screen flex justify-center items-center bg-goldenBrown text-white z-50">

  <div class="animate-fade flex flex-col sm:flex-row gap-2">

    <h1 class="select-none">Welcome to</h1>
    <div class="flex justify-center items-center gap-[1px]">
      <img
      src="../../../assets/apple-touch-icon.png"
      alt="logo"
      class="w-[60px] h-[60px] rounded select-none">

      <h1 class="select-none">
        KIA
      </h1>
    </div>

  </div>

</section>