<nav class="w-full h-[110px] fixed flex justify-around sm:relative items-center bg-gradient-to-r from-goldenBrown to-fieldDarb text-white rounded-b-3xl border-b-2 border-white z-50">

  <div class="flex-auto h-full flex sm:hidden justify-center items-center border-l-[1px] border-blanchedAlmond border-opacity-10">
    <fa-icon icon="bars" size="2x" class="cursor-pointer"></fa-icon>
  </div>

  <div routerLink="" class="relative h-full flex-auto flex items-center justify-center border-x-[1px] sm:border-none border-blanchedAlmond border-opacity-10">
    <img src="../../assets/logo.png" alt="logo" class="w-[40px] h-[40px]">    
    <h1 class="text-3xl font-bold cursor-pointer">
      KIA
    </h1>
  </div>

  <div class="hidden sm:flex h-full flex-auto justify-center items-center gap-4 text-lg border-x-[1px] border-blanchedAlmond border-opacity-10">
    <button *ngFor="let item of navItems" [routerLink]="item.link">
      {{ item.title }}
    </button>
  </div>

  <div class="flex-auto h-full flex gap-4 justify-center items-center">
    <fa-icon icon="magnifying-glass" size="2x" class="hidden sm:block cursor-pointer"></fa-icon>
    <fa-icon icon="user" size="2x" routerLink="/account" class="hidden sm:block cursor-pointer"></fa-icon>
    <fa-icon icon="cart-shopping" size="2x" class=" cursor-pointer"></fa-icon>
    <fa-icon icon="gear" size="2x" class="hidden sm:block cursor-pointer"></fa-icon>
  </div>

</nav>
