<nav class="w-full h-[70px] sm:h-[110px] flex justify-around sm:relative items-center bg-gradient-to-r from-goldenBrown to-fieldDarb text-white border-b-2 border-white z-40">

  <!-- left pane -->
  <div
    routerLink="/home"
    class="relative h-full flex-auto flex items-center justify-center gap-[1px] border-x-[1px] sm:border-none border-blanchedAlmond border-opacity-10 z-40">
    <img
      src="../../../assets/apple-touch-icon.png"
      alt="logo"
      class="w-[40px] h-[40px] rounded cursor-pointer">

    <h1 class="text-3xl font-bold cursor-pointer">
      KIA
    </h1>
  </div>

  <!-- middle pane -->
  <div class="hidden sm:flex h-full flex-auto justify-center items-center gap-4 text-lg border-x-[1px] border-blanchedAlmond border-opacity-10">
    <button *ngFor="let item of navItems" [routerLink]="item.path">
      {{ item.title }}
    </button>
  </div>

  <!-- right pane -->
  <div class="hidden h-full sm:flex flex-auto gap-4 justify-center items-center">
    <div *ngFor="let item of navIcons; last as isLast" class="relative">

      <!-- render all the icon execpte the last one "cart icon" -->
      <fa-icon
        *ngIf="!isLast"
        [icon]="item.icon"
        size="2x"
        [routerLink]="item.path"
        class="cursor-pointer rounded-full flex"
        routerLinkActive="animate-pulseFast icon-animate border-8 -translate-y-1">
      </fa-icon>

      <!-- render the cart icon only -->
      <fa-icon
        *ngIf="isLast"
        [icon]="item.icon"
        size="2x"
        [routerLink]="item.path"
        class="cursor-pointer rounded-full flex"
        routerLinkActive="animate-pulseFast icon-animate border-8 -translate-y-1">
      </fa-icon>

      <!-- the cart counter -->
      <div
        *ngIf="isLast && cartCount"
        class="absolute -top-3 -right-3 bg-white text-red-600 font-bold w-6 h-6 rounded-full flex justify-center items-center">
        <p>
          {{ cartCount }}
        </p>
      </div>
    </div>
  </div>

</nav>
