<nav class="w-full h-[70px] sm:h-[110px] flex justify-around sm:relative items-center bg-gradient-to-r from-goldenBrown to-fieldDarb text-white rounded-b-3xl border-b-2 border-white z-50">

  <!-- left pane -->
  <div 
    routerLink="/home" 
    class="relative h-full flex-auto flex items-center justify-center border-x-[1px] sm:border-none border-blanchedAlmond border-opacity-10 z-50">
    <img 
      src="../../assets/logo.png" 
      alt="logo" 
      class="w-[40px] h-[40px]">    

    <h1 class="text-3xl font-bold cursor-pointer">
      KIA
    </h1>
  </div>

  <!-- middle pane -->
  <div class="hidden sm:flex h-full flex-auto justify-center items-center gap-4 text-lg border-x-[1px] border-blanchedAlmond border-opacity-10">
    <button *ngFor="let item of navItems" [routerLink]="item.path">
      {{ item.title }}
    </button>
  </div>

  <!-- right pane -->
  <div class="hidden h-full sm:flex flex-auto gap-4 justify-center items-center">
    <fa-icon 
      *ngFor="let item of navIcons"
      [icon]="item.icon" 
      size="2x" 
      [routerLink]="item.path"
      class="cursor-pointer rounded-full"
      routerLinkActive="animate-pulseFast icon-animate border-8 -translate-y-1">
    </fa-icon>
  </div>

</nav>
