<div>
  <!-- header -->
  <div class="flex gap-4 items-start">
    <img src="https://api.iconify.design/bi/1-circle-fill.svg" alt="1" class="w-[50px]">
    <div>
      <h3 class="text-fieldDarb">Personal Info</h3>
      <p class="mt-2">How we will contact you</p>
    </div>
  </div>

  <!-- personal info form -->
  <form
    #personalInfoForm = "ngForm"
    class="sm:px-[66px] my-4 p-8 sm:p-12 flex flex-col gap-4 bg-black/75 text-white rounded-xl shadow-[0px_0px_5px_5px] shadow-blanchedAlmond drop-shadow">

    <div class="flex flex-col sm:flex-row px-4 sm:px-0 gap-2 sm:gap-8">
      <!-- First name -->
      <div class="w-full">
        <label for="firstName" class="text-xl m-2">
          First name
        </label>
        <input
          #firstName="ngModel"
          [(ngModel)]="personalInfo.firstName"
          (ngModelChange)="setPersonalInfo()"
          id="firstName"
          type="text"
          name="firstName"
          required
          autocomplete
          class="text-black rounded-3xl w-full p-4"
          >
        <!-- First name validation -->
        <div
          *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
          class="w-fit text-red-600 bg-white text-xs px-4 py-1 mx-auto rounded-b-xl animate-bounce-short"
          >
          <p *ngIf="firstName.errors?.['required']">
            First name is required
          </p>
        </div>
      </div>


      <!-- last name -->
      <div class="w-full">
        <label for="lastName" class="text-xl m-2">
          Last name
        </label>
        <input
          #lastName="ngModel"
          [(ngModel)]="personalInfo.lastName"
          (ngModelChange)="setPersonalInfo()"
          id="lastName"
          type="text"
          name="lastName"
          required
          autocomplete
          class="text-black rounded-3xl w-full p-4"
          >

        <!-- Last name validation -->
        <div
          *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
          class="w-fit text-red-600 bg-white text-xs px-4 py-1 mx-auto rounded-b-xl animate-bounce-short"
          >
          <p *ngIf="lastName.errors?.['required']">
            Last name is required
          </p>
        </div>
      </div>
    </div>

    <div class="flex flex-col sm:flex-row px-4 sm:px-0 gap-2 sm:gap-8">
      <!-- email -->
      <div class="w-full">
        <label for="email" class="text-xl m-2">
          Email
        </label>
        <input
          #email="ngModel"
          [(ngModel)]="personalInfo.email"
          (ngModelChange)="setPersonalInfo()"
          id="email"
          type="text"
          name="email"
          email
          required
          autocomplete
          class="text-black rounded-3xl w-full p-4 z-10"
          >

        <!-- email validation -->
        <div
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="w-fit text-red-600 bg-white text-xs px-4 py-1 mx-auto rounded-b-xl animate-bounce-short"
          >
          <p *ngIf="email.errors?.['required']">
            Email is required
          </p>
          <p *ngIf="email.errors?.['email']">
            Please enter a vaild email
          </p>
        </div>
      </div>

      <!-- mobile -->
      <div class="w-full">
        <label for="mobile" class="text-xl m-2">
          Mobile number
        </label>
        <input
          #mobile="ngModel"
          [(ngModel)]="personalInfo.mobile"
          (ngModelChange)="setPersonalInfo()"
          id="mobile"
          type="tel"
          name="mobile"
          required
          autocomplete
          minlength="11"
          class="text-black rounded-3xl w-full p-4"
          >

        <!-- mobile validation -->
        <div
          *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)"
          class="w-fit text-red-600 bg-white text-xs px-4 py-1 mx-auto rounded-b-xl animate-bounce-short"
          >
          <p *ngIf="mobile.errors?.['required']">
            Mobile number is required
          </p>
          <p *ngIf="mobile.errors?.['minlength']">
            Must contain at least 11 numbers
          </p>
        </div>
      </div>
    </div>

    <!-- submit btn -->
    <button
      type="submit"
      (click)="setPersonalInfoValid()"
      [disabled]="personalInfoForm.invalid"
      [ngClass]="personalInfoForm.valid ? 'btn-primary bg-goldenBrown' : 'btn-disabled'"
      class="w-fit ml-auto mt-4">
      Next
    </button>

  </form>
</div>