<div class="sm:hidden fixed bottom-0 w-full h-[70px] bg-goldenBrown px-6 ">
  <ul class="w-80 h-[70px] relative flex mx-auto my-auto">

    <li 
      *ngFor="let navItem of mobileNavItems; index as i" 
      class="w-[70px] h-[70px] my-auto"
      >
      <div 
        [routerLink]="navItem.path" 
        routerLinkActive="text-bdazzledBlue bg-white -translate-y-4 duration-700 border-4 shadow-[0px_0px_0px_8px_rgb(207,163,100)]"
        class="w-[70px] h-[70px] flex flex-col text-center justify-center items-center text-white cursor-pointer rounded-full"
        >

        <span class='text-xl cursor-pointer duration-500 z-50'>
          <fa-icon [icon]="navItem.icon" size="lg"></fa-icon>
        </span>
        
        <p class="text-xs">
          {{ navItem.name }}
        </p>

      </div>
    </li>
  </ul>
</div>
