<main class="layout-margin w-full min-h-[80vh] flex flex-col justify-start items-start gap-8 sm:min-h-[calc(100vh-110px)] p-8 backdrop-blur-[2px]">

  <h2 class="text-bdazzledBlue">About EKIA</h2>

  <div class="flex flex-col sm:flex-row justify-center items-center gap-6">
    <div class="sm:w-1/2 flex flex-col gap-6 mt-4">
      <h3 class="text-3xl text-fieldDarb -mb-5">Our Vision</h3>

      <p class="text-sm">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae laborum dolorem tempora voluptates doloremque impedit mollitia dignissimos ducimus placeat sapiente.</p>

      <h3 class="text-3xl text-fieldDarb -mb-5">Our Mission</h3>

      <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus tempore rerum nesciunt, molestias explicabo veniam iusto quisquam accusamus tenetur eos pariatur sit voluptate labore ab porro mollitia ex natus repellendus rem ipsam! Nemo odit nesciunt alias natus pariatur neque deserunt!</p>

      <h3 class="text-3xl text-fieldDarb -mb-5">Our Values</h3>

      <p class="text-sm">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae, tempore! Odit sed architecto excepturi, nam quibusdam natus dolorum officiis fugiat, consectetur atque neque commodi? Dolorem asperiores, dicta ducimus placeat sunt sint odit illum, sequi adipisci consequuntur aut quas laborum tenetur delectus? Maxime fugit ab perferendis maiores. Odio rem inventore quo iusto! Nemo nulla exercitationem, esse nihil vero ratione perferendis quam!</p>
    </div>

    <img src="../../../assets/logo.svg" alt="" class="sm:w-1/2 shadow-icon border-8 ">
  </div>

</main>