<div class='w-full h-full pt-[30px] sm:min-h-[calc(100vh-110px)]'>

  <div class='bg-fieldDarb/40 fixed top-0 left-0 w-full h-screen'></div>

  <div class='relative w-full px-4 py-24'>
    <div class='max-w-[450px] h-[600px] mx-auto bg-black/75 text-white rounded-xl'>
      <div class='max-w-[280px] sm:max-w-[320px] mx-auto py-16'>

        <h1 class='text-2xl sm:text-3xl font-bold whitespace-nowrap'>Create a new account</h1>

        <form 
          class='w-full flex flex-col py-4'
          (ngSubmit)="signUp()"
          #signUpForm = "ngForm"
          >

          <!-- email input -->
          <input 
            class='p-4 my-2 bg-white rounded text-black z-10' 
            [(ngModel)] = "email"
            #signInEmail = "ngModel"
            email="true"
            name="email"
            type="email" 
            placeholder='Enter your email address' 
            autoComplete='email'
            required
            >

          <div 
            class="w-fit text-red-600 bg-white text-xs px-4 py-1 -mt-3 rounded-br-2xl duration-700 transition-all z-0"
            [ngClass]="signInEmail.invalid && (signInEmail.dirty || signInEmail.touched) 
              ? 'translate-y-0 duration-700 transition-all' 
              : 'invisible -translate-y-10 duration-700 transition-all'"
            >
            <p *ngIf="signInEmail.errors?.['required']">
              Email is required
            </p>
            <p *ngIf="signInEmail.errors?.['email']">
              Please enter a vaild email
            </p>
          </div>

          <!-- password input -->
          <input 
            class='p-4 my-2 bg-white rounded text-black z-10'
            [(ngModel)] = "password"
            #signUpPassword = "ngModel"
            name="password"
            type="password" 
            placeholder='Enter your password' 
            autoComplete='current-password'
            required
            minlength="6"
            />

          <div 
            class="w-fit text-red-600 bg-white text-xs px-4 py-1 -mt-3 rounded-br-2xl duration-700 transition-all z-0"
            [ngClass]="signUpPassword.invalid && (signUpPassword.dirty || signUpPassword.touched) 
              ? 'translate-y-0 duration-700 transition-all' 
              : 'invisible -translate-y-10 duration-700 transition-all'"
            >
            <p *ngIf="signUpPassword.errors?.['required']">
              Password is required
            </p>
            <p *ngIf="signUpPassword.errors?.['minlength']">
              Must contain at least 6 characters
            </p>
          </div>
          
          <!-- submit button -->
          <button 
            class="my-6"
            type="submit"
            [disabled]="signUpForm.invalid"
            [ngClass]="signUpForm.valid ? 'btn-primary' : 'btn-disabled'"
            >
            Sign Up
          </button>

          <p class='mt-4 py-4 border-t-2 border-blanchedAlmond/30 text-blanchedAlmond/80 text-center'>
            or sign up with
          </p>

          <!-- signin with google btn -->
          <button 
            class='bg-white flex gap-2 justify-center items-center p-2 w-fit rounded mx-auto'
            type="button">
            <img src="https://api.iconify.design/flat-color-icons/google.svg" alt="google" class="w-[40px] inline-block">
            <p class='text-black'>Google</p>
          </button>              

          <p class='py-8'>
            <span class='text-blanchedAlmond/30'>
              Already have an account?
            </span>
            <a href="/signin" class='text-sm'> Sign In</a>
          </p>

        </form>

      </div>
    </div>
  </div>
  
</div>
