<section class="layout-margin w-full h-full sm:h-[calc(100vh-110px)] flex flex-col sm:flex-row justify-center items-center gap-4 p-8 backdrop-blur-[2px]">

  <!-- bg overlay -->
  <div class="absolute top-0 left-0 w-full h-full bg-goldenBrown/5 -z-10">

  </div>

  <article class="w-full sm:w-1/2 flex flex-col justify-center items-center sm:items-start gap-4">

    <h2 class="text-bdazzledBlue font-extrabold text-4xl sm:text-5xl lg:text-6xl tracking-tight">
      {{product.name}}
    </h2>

    <p class="max-w-3xl text-lg">
      {{product.desc}}
    </p>

    <a routerLink='/products' class="btn-primary w-[160px]">
      Shop Now &nbsp;
      <fa-icon icon="couch"></fa-icon>
    </a>

  </article>

  <img 
    src="https://res.cloudinary.com/do1rqqi7v/image/upload/w_300/{{product.img}}" 
    alt="hero" 
    class="w-[300px] float-right">

</section>
