<section class=" w-full h-full sm:h-[calc(100vh-110px)] flex flex-col sm:flex-row justify-center items-center p-8 pt-[140px] sm:pt-0 backdrop-blur-sm">

  <article class="w-full sm:w-1/2 flex flex-col justify-center items-center sm:items-start gap-4">

    <h2 class="text-bdazzledBlue text-3xl font-extrabold">STRANDMON</h2>

    <p>Give STRANDMON wing chair both a practical and beautiful gift. This cover adds a new and nice look – while protecting the wing chair and making it easy to take care of.</p>

    <button class="btn-primary w-[160px]">
      Shop Now &nbsp;
      <fa-icon icon="couch"></fa-icon>
    </button>

  </article>

  <img src="../../../assets/img3.png" alt="hero" class="w-[300px] float-right">

</section>
