<section class="layout-margin w-full h-full sm:min-h-[calc(100vh-110px)] p-8 backdrop-blur-[2px]">

  <!-- COLLECTIONS section -->
  <div class="layout-margin">
    <div class="py-8">
      <h2 class="md:text-5xl tracking-tight text-bdazzledBlue font-extrabold">
        COLLECTIONS
      </h2>
      <hr class="h-[3px] bg-bdazzledBlue mt-4">
    </div>

    <div class="flex justify-center">
      <div class="w-[300px] sm:w-[770px] grid grid-cols-2 sm:grid-cols-4 gap-1 sm:gap-4">
        <button 
          *ngFor="let category of categories"
          (click)="filterProducts(category.name)"
          [ngClass]="cateoryActivated == category.name 
            ? 'bg-gradient-to-r from-blanchedAlmond to-goldenBrown/20 border-1 border-goldenBrown rounded-3xl shadow-[0px_5px_15px_gray]' 
            : 'bg-blanchedAlmond/30 border-fieldDarb/10 rounded'"
          class="h-32 max-w-[170px] flex flex-col items-center justify-center border-2 py-2 cursor-pointer transition-all duration-300 ease-linear">

          <img [src]= category.logo alt="chair" class="h-32 w-20">

          <p 
            class="text-lg font-extrabold text-bdazzledBlue">
            {{ category.name }}
          </p>
        </button>
      </div>
    </div>

  </div>

  <!-- CATALOGUE section -->
  <div class="layout-margin py-8 text-bdazzledBlue">
    <div class="py-8">
      <div class="flex justify-between">

        <h2 class="md:text-5xl tracking-tight font-extrabold">
          CATALOGUE
        </h2>

        <button 
          class="flex justify-between items-center gap-1 text-sm"
          (click)="filterProducts('none')">
          <fa-icon icon="angles-right" size="1x" class="cursor-pointer"></fa-icon>
          All products
        </button>
        
      </div>
      <hr class="h-[3px] bg-bdazzledBlue mt-4">
    </div>

    <div class="flex flex-col justify-center items-center">
      <div class="grid grid-cols-2 gap-6 lg:gap-8 sm:grid-cols-3 lg:grid-cols-4">
        <app-product-card *ngFor="let product of products" [item]="product">
        </app-product-card>
      </div>
    </div>
  </div>

</section>
