<section class="flex flex-col sm:flex-row items-center justify-center gap-4">

  <div class="w-full flex flex-col lg:flex-row justify-center items-center gap-8">
    
    <img 
      src="{{imgBaseUrl}}/w_600/{{category.img}}" 
      [alt]="category.name" 
      class="sm:w-[600px] object-cover object-bottom rounded-3xl">

    <div class="flex flex-col gap-2">
      <h3 
        class="top-8 left-8 text-bdazzledBlue bg-blanchedAlmond/50 p-2 font-extrabold text-3xl">
        {{ category.name }}
      </h3>
  
      <article>
        <p>{{ category.desc }}</p>
      </article>
    </div>
    
  </div>
    
</section>