<a 
  [routerLink]="['/products', item.id]" 
  class="w-36 h-52 sm:w-72 sm:h-96 bg-gradient-to-r from-blanchedAlmond to-earthYellow/20 p-4 flex flex-col items-center justify-center rounded-2xl cursor-pointer"
  >

  <!-- img for mobile -->
  <img 
    src="{{imgBaseUrl}}/w_150/{{item.img}}" 
    [alt]="item.name" 
    class="w-28 h-32 sm:w-60 sm:hidden object-contain"
    >

  <!-- img for big screens -->
  <img 
    src="{{imgBaseUrl}}/w_240/{{item.img}}" 
    [alt]="item.name" 
    class="hidden sm:w-60 sm:block object-contain"
    >

  <div>
    <h3 class="text-bdazzledBlue font-extrabold">
      {{ item.name }}
    </h3>
    <p class="text-sm">
      EGP {{ item.price }}
    </p>
  </div>
</a>
