<main 
  class="relative w-full h-full sm:h-[calc(100vh-110px)] bg-blanchedAlmond/60">

  <div class="h-full flex flex-col sm:flex-row gap-4">

    <!-- product image -->
    <div class="sm:w-1/2 h-full flex justify-center items-center bg-earthYellow">
      <img 
      src="https://res.cloudinary.com/do1rqqi7v/image/upload/w_500/{{product.img}}" 
      alt="/"
      class="sm:w-1/2 object-cover object-top"
      >
    </div>

    <!-- right pane -->
    <div class="sm:w-1/2 flex flex-col justify-center items-start px-4 lg:px-8 xl:px-32">

      <!-- main details -->
      <section class="flex flex-col justify-center items-start gap-2">
        <h2 class="text-5xl font-extrabold text-bdazzledBlue">
          {{product.name}}
        </h2>
  
        <p class="-mt-2">{{product.category}}</p>
  
        <hr class="h-[3px] bg-bdazzledBlue">
  
        <p class="xl:w-3/4">{{product.desc}}</p>
      </section>


      <!-- Specifications -->
      <section class="w-full flex flex-col gap-4 mt-8">

        <h3 class="text-4xl tracking-tight font-extrabold text-bdazzledBlue mb-4">
          Specifications
        </h3>
  
        <div class="xl:w-3/4 flex items-center gap-8">
          <h4 class="w-2/5 xl:w-1/2 text-xl font-extrabold text-bdazzledBlue">
            Material
          </h4>
          <p class="w-1/2 lg:w-full">
            Layer-glued wood veneer
          </p>
        </div>
  
        <div class="xl:w-3/4 flex items-center gap-8">
          <h4 class="w-2/5 xl:w-1/2 text-xl font-extrabold text-bdazzledBlue">
            Frame
          </h4>
          <p class="w-1/2 lg:w-full">
            Plywood - Laminated veneer lumber
          </p>
        </div>
  
        <div class="xl:w-3/4 flex items-center gap-8">
          <h4 class="w-2/5 xl:w-1/2 text-xl font-extrabold text-bdazzledBlue">
            Dimensions
          </h4>
          <p class="lg:w-full">
            140 x 200 x 33 cm
          </p>
        </div>
  
        <div class="xl:w-3/4 flex items-center gap-8">
          <h4 class="w-2/5 xl:w-1/2 text-xl font-extrabold text-bdazzledBlue">
            Colors
          </h4>
          <!-- colors options -->
          <div class="w-1/2 lg:w-full flex gap-4">
            <button class="bg-black rounded-full w-8 h-8 cursor-pointer"></button>
            <button class="bg-white rounded-full w-8 h-8 cursor-pointer"></button>
            <button class="bg-bdazzledBlue rounded-full w-8 h-8 cursor-pointer"></button>
          </div>
        </div>

        <!-- price -->
        <div class="w-fit py-8">
          <hr class="h-[3px] bg-goldenBrown">

          <p class="text-4xl text-center tracking-tighter text-bdazzledBlue font-extrabold px-4 py-2">
            <span class="text-lg">EGP</span>
            {{product.price}}
          </p>
    
          <hr class="h-[3px] bg-goldenBrown">
        </div>  
  
        <!-- buttons -->
        <div class="w-full flex items-center justify-start gap-4">
  
          <!-- add to cart -->
          <button 
            (click)="addToDoc(product, 'cart')"
            class="btn-primary bg-bdazzledBlue text-md w-40 h-16 flex justify-center items-center gap-2">
            Add to bag
            <fa-icon 
              icon="cart-shopping" 
              size="lg" 
              class="cursor-pointer text-white">
            </fa-icon>
          </button>
  
          <!-- add to wishlist -->
          <fa-icon 
            (click)="addToDoc(product, 'wishlist')"
            icon="heart-circle-plus" 
            size="3x" 
            class="cursor-pointer text-bdazzledBlue hover:scale-110 hover:saturate-200 duration-300 motion-safe:hover:animate-spin-fast">
          </fa-icon>
        </div>
      </section>

    </div>

  </div>

</main>