<div class='w-full h-full min-h-[calc(100vh-110px)]'>

  <div class='bg-fieldDarb/40 fixed top-0 left-0 w-full h-screen'></div>

  <div class='relative w-full px-4 py-16'>
    <div class='max-w-[450px] h-[550px] mx-auto bg-black/75 text-white rounded-3xl shadow-[0px_0px_5px_5px] shadow-blanchedAlmond drop-shadow'>
      <div class='max-w-[280px] sm:max-w-[320px] mx-auto py-16'>

        <h1 class='text-3xl font-bold'>
          Sign In
        </h1>

        <form 
          class='w-full flex flex-col py-4'
          (ngSubmit)="signIn()"
          #loginForm = "ngForm"
          >

          <!-- email input -->
          <input 
            class='p-4 my-2 bg-white rounded-3xl text-black z-10 placeholder:\01F4E7' 
            [(ngModel)] = "email"
            #loginEmail = "ngModel"
            name="email"
            email="true"
            placeholder='📧 Enter your email address' 
            autoComplete='email'
            required
            >

          <div 
            class="w-fit text-red-600 bg-white text-xs px-4 py-1 mx-auto -mt-3 rounded-b-xl duration-700 transition-all z-0"
            [ngClass]="loginEmail.invalid && (loginEmail.dirty || loginEmail.touched) 
              ? 'translate-y-0 duration-700 transition-all' 
              : 'invisible -translate-y-10 duration-700 transition-all'"
            >
            <p *ngIf="loginEmail.errors?.['required']">
              Email is required
            </p>
            <p *ngIf="loginEmail.errors?.['email']">
              Please enter a vaild email
            </p>
          </div>

          <!-- password input -->
          <input 
            class='p-4 my-2 bg-white rounded-3xl text-black z-10'
            [(ngModel)] = "password"
            #loginPassword = "ngModel"
            name="password"
            type="password" 
            placeholder='🔒 Enter your password' 
            autoComplete='current-password'
            required
            minlength="6"
            />

          <div 
            class="w-fit text-red-600 bg-white text-xs px-4 py-1 mx-auto -mt-3 rounded-b-xl duration-700 transition-all z-0"
            [ngClass]="loginPassword.invalid && (loginPassword.dirty || loginPassword.touched) 
              ? 'translate-y-0 duration-700 transition-all' 
              : 'invisible -translate-y-10 duration-700 transition-all'"
            >
            <p *ngIf="loginPassword.errors?.['required']">
              Password is required
            </p>
            <p *ngIf="loginPassword.errors?.['minlength']">
              Must contain at least 6 characters
            </p>
          </div>

          <!-- submit button -->
          <button 
            class="my-2"
            type="submit"
            [disabled]="loginForm.invalid"
            [ngClass]="loginForm.valid ? 'btn-primary w-full' : 'btn-disabled'"
            >
            Sign In
          </button>

          <!-- remember me -->
          <!-- <div class='flex justify-between items-center text-sm text-blanchedAlmond/30'>
            <p>
              <input class='mr-2 cursor-pointer' type='checkbox'/>
              Remember me
            </p>
            <p>Need Help?</p>
          </div> -->

          <p class='mt-2 py-4 border-t-2 border-blanchedAlmond/30 text-blanchedAlmond/80 text-center'>
            or sign in with
          </p>

          <!-- signin with google btn -->
          <button 
            class='bg-white flex gap-2 justify-center items-center p-2 w-fit rounded mx-auto'
            (click)="signInWithGoogle()"
            type="button">
            <img 
              src="https://api.iconify.design/flat-color-icons/google.svg" 
              alt="google" 
              class="w-[40px] inline-block"
              >
            <p class='text-black'>Google</p>
          </button>              

          <p class='py-8'>
            <span class='text-blanchedAlmond/30'>
              Don't have an account?
            </span>
            <a href="/signup" class='text-sm'> Sign Up</a>
          </p>

        </form>

      </div>
    </div>
  </div>
  
</div>
