<main class="layout-margin w-full min-h-[calc(100vh-70px)] flex flex-col sm:flex-row justify-start sm:justify-center items-start gap-4 sm:min-h-[calc(100vh-110px)] p-8 backdrop-blur-[2px]">

  <!-- checkout details -->
  <section
    *ngIf="!isOrderPlaced"
    class="sm:w-2/3 flex flex-col gap-12">

    <!-- personal info -->
    <app-checkout-personal-info></app-checkout-personal-info>

    <!-- shipping -->
    <app-checkout-shipping></app-checkout-shipping>

    <!-- payment -->
    <app-checkout-payment></app-checkout-payment>

    <!-- submit btn -->
    <button
      type="submit"
      [disabled]="!isPaymentValid"
      (click)="generateOrder()"
      [ngClass]="isPaymentValid ? 'btn-primary bg-goldenBrown' : 'btn-disabled'"
      class="w-fit mx-auto mb-8">
      Place order
    </button>

  </section>

  <!-- successful order msg -->
  <app-empty-page
    *ngIf="isOrderPlaced"
    img="https://api.iconify.design/bi/bag-check-fill.svg?color=green"
    msg="Enjoy your order"
  >
  </app-empty-page>

</main>