<main class="layout-margin w-full min-h-[calc(100vh-70px)] flex flex-col sm:flex-row justify-start sm:justify-center items-start gap-4 sm:min-h-[calc(100vh-110px)] p-8 backdrop-blur-[2px]">

  <!-- checkout details -->
  <section class="sm:w-2/3 flex flex-col gap-12">
    
    <!-- personal info -->
    <app-checkout-personal-info></app-checkout-personal-info>

    <!-- shipping -->
    <app-checkout-shipping></app-checkout-shipping>

    <!-- payment -->
    <app-checkout-payment></app-checkout-payment>

    <!-- submit btn -->
    <button 
      type="submit"
      class="btn-primary w-fit mx-auto mb-8">
      Place order
    </button>

  </section>
  
</main>